<div class="main-carousel">
  <% @projects.each do |project| %>
    <div class="caption carousel-cell" data-header="navbar_scroll_white">
      <div class="caption-background" style="background-image: url('<%= @project_landing_cover %>');"></div>
      <div class="caption-container">
        <div class="caption-text">
          <p data-aos="fade-right" data-aos-delay="1200" data-aos-duration="1200" data-aos-offset="50" class="caption-title text-4xl"> <%= project.name %></p>
          <section data-aos="fade-right" data-aos-delay="1500" data-aos-duration="1200" class="caption-p">
            <p><%= project.brief %></p>
          </section>
        </div>

        <button class="loadpage" style="visibility: hidden;">
          <span>Read More</span>
          <div class="left"></div>
          <div class="top"></div>
          <div class="right"></div>
          <div class="bottom"></div>
        </button>
      </div>

    </div>
  <% end %>
</div>

<script type="application/json" id="gallery-images">
  <%= raw @images.to_json %>
</script>

<main>
  <div id="about" data-header="navbar_scroll_black">
    <div class="grid grid-cols-2">
      <div class="text_area p-4">
        <h2 class=" mb-4">The Concept</h2>
        <p class="mb-4">The client, a tech entrepreneur in their mid-30s, seeks to transform their spare bedroom into a functional and inspiring home office. The space should reflect a modern minimalist aesthetic while prioritizing productivity and comfort.</p>
        <p class="mb-4"> The final design should create a harmonious balance between functionality and aesthetics, resulting in a space that inspires productivity and creativity while maintaining a sense of calm and order. The final design should create a harmonious balance between functionality and aesthetics, resulting in a space that inspires productivity and creativity while maintaining a sense of calm and order.</p>
        <p class="mb-4"> The final design should create a harmoni ous balance between functionality and aesthetics, resulting in a space that inspires productivity and creativity while maintaining a sense of calm and order.</p>
      </div>

      <div class="image image-positioning p-4">
        <%= image_tag "Mona_about.jpeg", alt: "About Mona" %>
      </div>
    </div>

    <!-- The gallery section -->
    <div class="grid grid-cols-3">
      <div class="col-span-2 pt-24">
        <div x-data="imageGallery" 
          class="rounded-lg p-4 max-w-4xl mx-auto"
          @keydown.escape.window="closeModal()"
          class="relative">
          <div class="mb-4 py-2 overflow-x-auto">
            <div class="blueprint_buttons">
              <template x-for="(image, index) in images" :key="index">
                <button @click="setCurrentImage(index)" x-text="image.name"></button>
              </template>
              <div class="slide-background"></div>
            </div>
          </div>

          <div class="relative w-full h-[575px] rounded-lg overflow-hidden ">
            <template x-if="images.length > 0">
              <div @click="showModal = true" class="block w-full h-full cursor-pointer">
                <img :src="currentImage" 
                      :alt="images[currentIndex].name" 
                      class="object-none w-full h-full hover:opacity-90 transition-opacity">
              </div>
            </template>
            <template x-if="images.length === 0">
              <div class="flex items-center justify-center w-full h-full text-gray-500">
                No images found
              </div>
            </template>
            <!-- Modal -->
            <div x-show="showModal" x-transition @click="closeModal()"
                class="fixed inset-0 z-50 flex items-center justify-center" style="background-color: rgba(0, 0, 0, 0.75);">
              <div class="relative max-w-7xl max-h-[90vh] overflow-hidden" @click.stop>  <!-- This prevents the click from bubbling up -->
                <img :src="currentImage" :alt="images[currentIndex].name" class="object-contain max-h-[85vh]">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text_area p-2">
        <h2 class="mb-4">The Plan</h2>
        <p class="mb-4">The client, a tech entrepreneur in their mid-30s, seeks to transform their spare bedroom into a functional and inspiring home office. The space should reflect a modern minimalist aesthetic while prioritizing productivity and comfort.</p>
        <p class="mb-4"> The final design should create a harmonious balance between functionality and aesthetics, resulting in a space that inspires productivity and creativity while maintaining a sense of calm and order. The final design should create a harmonious balance between functionality and aesthetics, resulting in a space that inspires productivity and creativity while maintaining a sense of calm and order.</p>
        <p class="mb-4"> The final design should create a harmonious balance between functionality and aesthetics, resulting in a space that inspires productivity and creativity while maintaining a sense of calm and order.</p>
      </div>
    </div>

    <div class="grid grid-cols-2">
      <div class="text_area p-4">
        <h2 class=" mb-4">The Brief</h2>
        <p class="mb-4">The client, a tech entrepreneur in their mid-30s, seeks to transform their spare bedroom into a functional and inspiring home office. The space should reflect a modern minimalist aesthetic while prioritizing productivity and comfort.</p>
        <p class="mb-4"> The final design should create a harmonious balance between functionality and aesthetics, resulting in a space that inspires productivity and creativity while maintaining a sense of calm and order. The final design should create a harmonious balance between functionality and aesthetics, resulting in a space that inspires productivity and creativity while maintaining a sense of calm and order.</p>
        <p class="mb-4"> The final design should create a harmonious balance between functionality and aesthetics, resulting in a space that inspires productivity and creativity while maintaining a sense of calm and order.</p>
      </div>

      <div class="image p-4">
        <%= image_tag "Mona_about.jpeg", alt: "About Mona" %>
      </div>
    </div>

    <div class="grid grid-cols-2">
      <div class="image p-4">
        <%= image_tag "Mona_about.jpeg", alt: "About Mona" %>
      </div>

      <div class="text_area p-4">
        <h2 class=" mb-4">The Details</h2>
        <p class="mb-4">The client, a tech entrepreneur in their mid-30s, seeks to transform their spare bedroom into a functional and inspiring home office. The space should reflect a modern minimalist aesthetic while prioritizing productivity and comfort.</p>
        <p class="mb-4"> The final design should create a harmonious balance between functionality and aesthetics, resulting in a space that inspires productivity and creativity while maintaining a sense of calm and order. The final design should create a harmonious balance between functionality and aesthetics, resulting in a space that inspires productivity and creativity while maintaining a sense of calm and order.</p>
        <p class="mb-4"> The final design should create a harmonious balance between functionality and aesthetics, resulting in a space that inspires productivity and creativity while maintaining a sense of calm and order.</p>
      </div>
    </div>
  </main>
